<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta cahrset="UTF-8">
    <title>Vue-Tutorial</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>
      Basic Cace
    </h1>
    <p>参考サイト</p>
    <a href="https://jp.vuejs.org/v2/guide/index.html" target="_blank">Vue.js はじめに<a>
    <p>他のページ</p>
    <a href="./index.html">Basic Case<a>
    <div id="app-5">
      <h2>
        app5
      </h2>
      <p>元の文章: {{ message }}</p>
      <p>逆さまにした文章: {{ reversedMessage }}</p>
      <input v-model="message">
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-7">
      <h2>
        app7
      </h2>
      <ol>
        <!--
          各 todo-item の内容を表す todo オブジェクトを与えます。
          これにより内容は動的に変化します。
          また後述する "key" を各コンポーネントに提供する必要があります。
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
      <input id="add_data">
      <button v-on:click="addList">add List</button>
    </div>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/free.js"></script>
  </body>
</html>
