<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta cahrset="UTF-8">
    <title>Vue-Tutorial</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>
      自由に書いてみる
    </h1>
    <p>参考サイト</p>
    <a href="https://jp.vuejs.org/v2/guide/index.html" target="_blank">Vue.js はじめに<a>
    <p>他のページ</p>
    <a href="./index.html">Vueの基本の使い方<a>
    <a href="./vuetify.html">vuetify使ってみるページ<a>
    <div id="app-5">
      <h2>
        入力した文を逆さまにする。ボタンを押すとデータを逆さまにする
      </h2>
      <p>元の文章: {{ message }}</p>
      <p>逆さまにした文章: {{ reversedMessage }}</p>
      <input v-model="message">
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-7">
      <h2>
        リストを入れたり消したりできる。確認ポップアップもする。
      </h2>
      <p v-show="groceryList.length">リストの数は{{ groceryList.length }}個！</p>
      <ul>
        <li v-for="(item, index) in groceryList">
          <!-- <input type="checkbox" v-model="todo.isDone"> -->
          <span>{{ item.text }}</span>
          <span @click="deleteItem(index)" class="command">[x]</span>
        </li>
      </ul>
      <p v-show="!groceryList.length">何もないよ！</p>
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem">
        <input type="submit" value="Add">
      </form>
    </div>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/free.js"></script>
  </body>
</html>
